/* 
014152
0C7871
219C85
48A882
76B07A
*/

body {
    background-color: #76B07A;
    color: #014152;
    font-weight: 100;
    font-family: serif;
}

h1,
h2,
h3,
h4,
legend,
label {
    font-family: sans-serif;
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}

#activity h2 {
    margin-top: 0;
}

#activity article {
    margin-bottom: 1em;
    padding: 1em;
}

#activity article:nth-child(even) {
    background-color: #48A882;
}

#activity article:nth-child(odd) {
    background-color: #219C85;
}

#activity h4 {
    margin-bottom: 0.3em;
}

#activity p {
    margin-top: 0.3em;
}

#activity time {
    font-size: 1.2em;
}

time,
textarea {
    display: block;
    width: 100%;
}

fieldset {
    border: none;
    padding: 0;
}

label,
button {
    display: block;
    margin-top: 1em;
}

button,
legend {
    font-size: 1.5em;
}

pre {
    white-space: pre-wrap;
}