/* 
014152
0C7871
219C85
48A882
76B07A
*/

body {
    background-color: #76B07A;
    color: #014152;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h2,
h3,
h4,
legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main section {
    max-width: 50%;
}

main article {
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

time,
textarea {
    display: block;
}

fieldset {
    border: none;
}

label,
button {
    display: block;
    margin-top: 1em;
}

button {
    font-size: 1.5em;
}

legend {
    font-size: 2em;
}

pre {
    white-space: pre-wrap;
}